@inherits LayoutComponentBase

@inject NavigationManager navManager;
@inject IJSRuntime JSRuntime

<div class="page">

    @if (IsLoggedInUser)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (IsLoggedInUser)
        {
            <div class="top-row px-4">
                <a href="" @onclick="Logout">Logout</a>
            </div>

        }

        <div class="content px-4">
            <CascadingValue Value="event_notify">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

@code {
    public bool IsLoggedInUser;
    EventCallback event_notify => EventCallback.Factory.Create(this, NotifyLayout);

    public void Logout()
    {
        Task.Run(() => JSRuntime.InvokeVoidAsync("localStorage.removeItem", "userKey"));
        Task.Run(() => NotifyLayout());
        navManager.NavigateTo("/login");
    }

    private async Task NotifyLayout()
    {
        var userSesion = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userKey");
        if (userSesion == "Success")
        {
            IsLoggedInUser = true;
        }
        else
        {
            IsLoggedInUser = false;
            navManager.NavigateTo("/login");
        }
    }
}
